* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6f8;
  width: 100%;
  height: 100vh;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

form select {
    width: 100%;
    max-width: 200px;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

/* Inputs */
form input {
  width: 100%;
  max-width: 200px;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

/* Botão */
button {
  padding: 0.8rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
  max-width: 200px;
}

button:hover {
  background-color: #2980b9;
}

/* Mensagem de feedback */
#mensagem {
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}
